body {
    background-image: url(../IMG/windows11_background.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
	margin: 0;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif"
	
}

main {
	display: inline-grid;
	width: 100%;
	height: 100vh;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(7, 1fr);
	color: white;
	
}

main section {
	width: 100%;
	height:100%;
	display: inline-grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 1fr);
	margin: 10px;
	text-align: center;
	font-size: 0.9em;
}
main section div:hover {
	background: #262626;
	transition-duration: 0.1s;
}


main section div {
	max-width: 100%;
	max-height: 100%;
}

main section img {
	max-width: 50%;
	max-height: 50%;
	text-align: center;
	margin-bottom: -5px;
}

main section p {
	max-width: 100%;
	max-height: 2em;
	text-align: center;
}

#p1{
	grid-column: 1 /2; 
	grid-row: 1 / 2;
}
#p2{
	grid-column: 2 / 3; 
	grid-row: 1 / 2;
}
#p3{
	grid-column: 3 / 4; 
	grid-row: 1 / 2;
}
#p4{
	grid-column: 4 / 5; 
	grid-row: 1 / 2;
}
#p5{
	grid-column: 5 / 6; 
	grid-row: 1 / 2;
}
#p6{
	grid-column: 6 / 7; 
	grid-row: 1 / 2;
}

a {
	text-decoration: none;
	color: white;
	max-width: 100%;
	max-height: 75%;
}
footer{
	background: #EEEEEE;
	width: 100%;
	height: 2.9em;
	position: fixed;
	bottom: 0;
	display: inline-flex;
	grid-template-columns: 1fr 3fr 1fr;
	grid-template-rows: 1fr;
}


