table,
th,
td {
  border: 1px solid rgb(32, 244, 255);
}
body table {
  width: 50vw;
  background-color: rgb(21, 21, 21);
  border: 3px solid rgb(32, 244, 255);
  border-radius: 1cm;
  border-collapse: separate;
}

th {
  text-align: center;
}
td {
  padding: 1.2em;
  min-width: 7em;
}

body {
  justify-content: center;
  display: flex;
  background-color: rgb(35, 35, 35);
  color: rgb(255, 255, 255);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
