header {
  display: grid;
  grid-template-columns: 1fr 6fr 5fr;
  grid-template-rows: 1fr;
  border-width: 10px;
  border-color: #3dbc5b #3dbc5b #2f4435;
  border-bottom-style: solid;
}
#contacto {
  display: inline-flex;
  align-items: flex-end;
}
.titulo_home {
  color: white;
  text-decoration: none;
}
.contacto_text {
  margin-right: 4em;
  color: white;
  text-decoration: none;
}

.titulo {
  background: #486041;
  color: #ffffff;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
  display: inline-flex;
  align-items: center;
}
#titular {
  margin-left: 2em;
  font-size: 3em;
}

main {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 1fr;
  background: #e4e4e4;
  color: #ffffff;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
}

body {
  margin: 0px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5r 1fr;
}
.parraf {
  margin: 3em;
}
b {
  font-size: 2em;
}
#oferta {
  font-size: 1.4em;
}
#nuevas_ofertas {
  margin-bottom: 10em;
}
#section1 {
  background: #8d1715;
  grid-column: 1 / 3;
}
#section2 {
  grid-column: 3 / 5;
}
#section3 {
  grid-column: 1 / 5;
  background: #486041;
  height: 5em;
}
#section4 {
  grid-column: 1 / 5;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  width: 100%;
  margin-top: 5em;
}
.pizza_slot_frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.pizza_slot {
  width: 17em;
  height: 17em;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 2em;
}
.divisor {
  height: 1px;
  background: #e9e9e9;
  margin-top: 1.5em;
  width: 80%;
  margin-left: 10%;
}
footer {
  background: #8d1715;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  color: #ffffff;
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
  text-align: center;
}
.pizzas {
  width: 80%;
}
.footer-divisor {
  height: 1px;
  background: #e9e9e9;
  margin-top: 1.5em;
  width: 80%;
  margin-left: 10%;
  grid-column: 1 / 4;
}
